body {
    font-family: 'Montserrat';
}



#navbar {
    background-color: #929292;
    padding: 0;
}

#navbar-header {
    padding: 20px;
    width: 100%;
}

#navbar a {
    color: black;
    font-weight: 600;
    font-size: 1.5em;
}

#navbar button {
    border: 1px solid black;
    float: right;
}

#navbar ul li {
    background-color: #fff;
    font-size: 0.8em;
    width: 100%;
    border-bottom: 1px solid black;
    text-align: center;
}

#navbar ul li:hover {
    color: white;
    background-color: #cecece;
    transition: 0.4s;
}

.content {
    background-color: #929292;
    color: black;
    overflow: hidden;
    border: 1px solid black;
    margin-bottom: 20px;
    padding: 0 10px 0 10px;
}

.top a {
    color: black;
    font-size: 1.1em;
    font-weight: bold;
}

h3 {
    color: black;
    padding-top: 15px;
    padding-bottom: 15px;
}