body {
    color: #fff;
    font-size: 16px;
    background-color: #61122f;
    font-family: 'Montserrat';
}

#header-nav {
    background-color: #f6b319;
    border-radius: 0;
    border: none;

}

#logo-img {
    background-image: url('images/restaurant-logo_large.png');
    background-repeat: no-repeat;
    width: 150px;
    height: 150px;
    margin: 10px 15px 10px 0px;
}

.navbar-brand h1 {
    font-family: 'Fondamento';
    padding-top: 25px;
    color: #557c33;
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: 1px 1px 1px #222;
    margin-top: 0;
    margin-bottom: 0;
    line-height: 0.8;
}

.navbar-brand a:hover,
.navbar-brand a:focus {
    text-decoration: none;
}

.navbar-brand p {
    text-transform: uppercase;
    color: #000;
    font-size: 0.7em;
    margin-top: 15px;
}

.navbar-brand p span {
    vertical-align: middle;
}

#nav-list {
    margin-top: 10px;
}

#collapsable-nav {
    margin-top: -30px;
}

#nav-list a {
    color: #951c49;
    text-align: center;
}

#nav-list a:hover {
    background-color: #e7e7e7;
    transition: 0.4s;
}

#nav-list a span {
    font-size: 1.8em;
}

#phone a {
    font-size: 1.5em;
    padding-bottom: 0px;
    padding-top: 0px;
}

#phone div {
    color: #557c3e;
    padding-right: 10px;
    font-weight: 600;
    font-style: italic;
}

#btn-menu {
    border: 2px solid #951c49;
    color: #951c49;
    border-radius: 10px;
}

#btn-menu:hover {
    transition: 0.4s;
    color: #fff;
    border-color: #fff;
}

.nav-link span {
    margin-right: 7px;
}

#phone-hidden {
    background-color: #f6b319;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    border-radius: 10px;
}

#phone-hidden a {
    color: #951c49;
    font-size: 1.7em;
}

#phone-hidden a:hover {
    transition: 0.4s;
    text-decoration: underline;
}

#phone-hidden>span {
    color: #557c3e;
    font-weight: 800;
}

#jumbotron {
    padding: 0;
}

.jumbotron img {
    width: 100%;
    height: 500px;
    border-top: 1px solid #61122f;
}


#menu-tile,
#specials-tile,
#map-tile {
    position: relative;
    border: 2px solid #3f0c1f;
    height: 250px;
    width: 100%;
    margin-bottom: 20px;
    overflow: hidden;
}

#menu-tile span,
#specials-tile span,
#map-tile span {
    position: absolute;
    bottom: 0;
    left: 0;
    text-transform: uppercase;
    color: white;
    font-weight: bold;
    font-size: 1.6em;
    width: 100%;
    text-align: center;
    background-color: #000;
    opacity: 0.8;
}

#menu-tile:hover,
#specials-tile:hover,
#map-tile:hover {
    box-shadow: 0 1px 5px 1px #cccccc;
}

#menu-tile {
    background-image: url("images/menu-tile.jpg");
    background-repeat: no-repeat;
    background-position: center;
}

#specials-tile {
    background-image: url("images/specials-tile.jpg");
    background-repeat: no-repeat;
    background-position: center;
}

/* Menu Tiles */

.category-tile {
    position: relative;
    border: 2px solid #3f0c1f;
    overflow: hidden;
    width: 200px;
    height: 200px;
    margin: 0 auto 15px auto;
}

.category-tile span {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    font-size: 1.2em;
    text-align: center;
    text-transform: uppercase;
    background-color: #000;
    color: #fff;
    opacity: 0.8;
}

.category-tile:hover {
    box-shadow: 0 1px 5px 1px #cccccc;
    transition: 0.4s;
}

/* End of Menu Tiles */


/* Single Menu Category */

.menu-item-tile {
    margin-bottom: 25px;
}

.menu-item-tile hr {
    width: 80%;
}

.menu-item-tile .menu-item-price {
    font-size: 1.1em;
}

.menu-item-tile .menu-item-price span {
    font-size: 0.6em;
}

.menu-item-photo {
    position: relative;
    overflow: hidden;
    border: 2px solid #3f0c1f;
    max-width: 250px;
    padding: 0;
    margin-bottom: 10px;
}

.menu-item-photo>div {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 80px;
    border-radius: 40%;
    background-color: #557c3e;
    color: #fff;
    text-align: center;
}

.menu-item-details {
    font-size: 0.9em;
    font-style: italic;
}

/* End of Single Menu Category */


/* FOOTER */
.footer {
    margin-top: 30px;
    padding-top: 35px;
    padding-bottom: 30px;
    background-color: #222;
}

.footer hr {
    background-color: #fff;
}

.footer section {
    padding-left: 30px;
}

.footer div.row {
    margin-bottom: 35px;
}

#hours,
#address {
    line-height: 2;
}

#hours>span,
#address>span {
    font-size: 1.3em;
    font-weight: 600;
}

#address p {
    color: #557c3e;
    font-size: 0.8em;
    line-height: 1.8;
}

#testimonials {
    font-style: italic;
}

#testimonials p:nth-child(2) {
    margin-top: 25px;
}

/* ENF OF FOOTER */


/* ***** Media Queries ***** */

/* Exrta Small & Small Devices Only */
@media (max-width: 575px) {

    #menu-tile,
    #specials-tile {
        width: 360px;
        margin: 0px auto 20px auto;
    }

    .footer hr {
        width: 50%;
    }

    .navbar-brand h1 {
        font-size: 18px;
    }

    .navbar-brand p {
        font-size: 0.65em;
    }
}

/* Medium Devices Only */
@media (min-width: 768px) and (max-width: 991px) {
    #logo-img {
        background-image: url("images/restaurant-logo_medium.png");
        background-repeat: no-repeat;
        width: 100px;
        height: 100px;
        margin: 13px 5px 5px 0px;
    }

    .navbar-brand h1 {
        font-size: 18px;
    }

    .navbar-brand p {
        font-size: 0.65em;
    }

    .nav-link {
        font-size: 14px;
    }

    #phone a {
        font-size: 1.2em;
    }
}

/* Large Devices Only */
@media (min-width: 992px) and (max-width: 1199px) {
    #logo-img {
        background-image: url("images/restaurant-logo_medium.png");
        background-repeat: no-repeat;
        width: 100px;
        height: 100px;
        margin: 13px 5px 5px 0px;
    }

    #collapsable-nav {
        margin-top: -15px;
    }

    .navbar-brand h1 {
        font-size: 20px;
    }

    .navbar-brand p {
        font-size: 0.65em;
    }

    .nav-link {
        font-size: 15px;
    }

    #phone a {
        font-size: 1.35em;
    }
}

/* Extra Large Devices */
@media (min-width: 1200px) {
    #collapsable-nav {
        margin-top: -65px;
    }
}